@keyframes boot_rect {
    0% {
        clip-path: polygon(0 0, 0 var(--bt), 0 var(--bt), 0 0);
    }
    50% {
        clip-path: polygon(0 0, 0 var(--bt), 100% var(--bt), 100% 0);
    }
    99% {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }
    100% {
        clip-path: none;
    }
}
@keyframes row {
    0% {
        clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    }
    99% {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }
    100% {
        clip-path: none;
    }
}
@keyframes column {
    0% {
        clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
    }
    99% {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }
    100% {
        clip-path: none;
    }
}
@keyframes flicker {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* frame boot loop */

.lcars-frame::before {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    animation: var(--boot-time) linear var(--boot-wait) boot_rect forwards;
}

.lcars-filler {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    animation: var(--boot-time) linear var(--boot-wait) var(--local-direction) forwards;
}
.lcars-button {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    animation: var(--boot-time) linear var(--boot-wait) row forwards;
}
.lcars-cap {
    opacity: 0;
    --boot-wait: 0.5s;
    animation: var(--boot-time) linear var(--boot-wait) flicker forwards;
}
