.lcars-filler {
    --color: var(--dim);
    font-size: 12px;
    padding: 4px;
    background-color: var(--color);
    color: black;
    /* min-height: 16px; */
    box-shadow: var(--shadow);
    font-family: var(--button-font-family);
    box-sizing: border-box;
    display: flex;
}

.lcars-cutout {
    --color: var(--dim);
    font-size: 12px;
    padding: 4px;
    background: var(--bkg);
    color: black;
    /* min-height: 16px; */
    box-shadow: var(--shadow);
    box-sizing: border-box;
    display: flex;
}

.lcars-row {
    display: flex;
    /* align-items: center; */
    gap: 4px;
    min-height: var(--local-height);
    --local-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.lcars-col {
    display: flex;
    flex-direction: column;
    gap: 4px;
    --local-direction: column;
}
.lcars-stack {
    position: relative;
}
.lcars-stack > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.lcars-button {
    background-color: var(--button-color, var(--light));
    color: var(--text-on-color, black);
    padding: 4px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: right;
    box-shadow: var(--shadow);
    /* font-weight: bold; */
    font-size: min(1rem, calc(0.7 * var(--local-height)));
    font-family: var(--button-font-family);
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: var(--local-height);
}
.lcars-button.rounded {
    border-radius: var(--local-height);
    padding: 8px 16px;
}
.lcars-button.rounded-left {
    border-top-left-radius: var(--local-height);
    border-bottom-left-radius: var(--local-height);
    padding-left: 16px;
}
.lcars-button.rounded-right {
    border-top-right-radius: var(--local-height);
    border-bottom-right-radius: var(--local-height);
    padding-right: 16px;
}
/* .lcars-button:hover {
    background-color: var(--bright);
} */
.lcars-button.selected {
    background-color: var(--bright);
}
.lcars-button.outline {
    background: none;
    color: var(--button-color, var(--light, currentColor));
    border: 2px solid var(--button-color, var(--light));
    border-radius: 2px;
    padding: 2px;
}

.lcars-gap {
    font-size: 21px;
    /* min-height: 16px; */
    text-transform: uppercase;
    font-family: var(--button-font-family);
    /* font-size: 100%; */
    background: var(--bkg);
    color: var(--text-color);
    text-align: right;
    align-self: stretch;
    display: flex;
    flex-direction: var(--local-direction);
}
.lcars-gap > span {
    position: relative;
    top: 0.04em;
    font-size: calc(1.4 * var(--local-height));
    line-height: var(--local-height);
}

.lcars-cap {
    width: 16px;
    width: calc(var(--local-height) / 2);
    background-color: var(--button-color, var(--dim));
    box-shadow: var(--shadow);
    color: var(--text-on-color, black);
    font-size: min(1rem, calc(0.7 * var(--local-height)));
    font-family: var(--button-font-family);
    display: flex;
    padding: 4px;
    box-sizing: border-box;
}
.lcars-cap.wide {
    width: var(--local-height);
}
.h > .lcars-cap:first-child {
    border-top-left-radius: var(--r, 100px);
    border-bottom-left-radius: var(--r, 100px);
}
.h > .lcars-cap:last-child {
    border-top-right-radius: var(--r, 100px);
    border-bottom-right-radius: var(--r, 100px);
}
.v > .lcars-cap {
    width: var(--local-width);
    height: 16px;
}
.v > .lcars-cap:first-child {
    border-top-left-radius: var(--r, 100px);
    border-top-right-radius: var(--r, 100px);
}
.v > .lcars-cap:last-child {
    border-bottom-left-radius: var(--r, 100px);
    border-bottom-right-radius: var(--r, 100px);
}

.lcars-grid {
    box-sizing: border-box;
    --sw: 1px;
    --s: calc(100% - var(--sw));
    background-size: calc(var(--s) / var(--cols)) calc(var(--s) / var(--rows));
    background-image:
        linear-gradient(to right, var(--color) var(--sw), transparent var(--sw)),
        linear-gradient(to bottom, var(--color) var(--sw), transparent var(--sw));
}

.lcars-graph {
    stroke: var(--color);
    stroke-width: var(--sw);
    fill: none;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    display: block;
    vector-effect: non-scaling-stroke;
}
.lcars-graph.dashed * {
    stroke-dasharray: 5px 5px;
}
.lcars-graph.dotted * {
    stroke-dasharray: 0 calc(2 * var(--sw));
    stroke-linecap: round;
}
.lcars-graph * {
    vector-effect: non-scaling-stroke;
}


.lcars-bar {
    display: flex;
    flex-direction: row;
    min-height: 16px;
    min-width: 16px;
    justify-self: stretch;
}
.lcars-bar.v {
    flex-direction: column-reverse;
}

.lcars-bar.lcars-blob > div {
    background-color: var(--fill);
    background: 
        radial-gradient(
            ellipse at center, 
            var(--fill) 0%,
            var(--fill) 30%,
            var(--edge) 90%
        )
    ;
    background-size: var(--step) 100% ;
}
.lcars-bar.lcars-blob.v > div {
    background-size: 100% var(--step);
}

.lcars-bar.lcars-flat > div {
    background-color: var(--fill);
}

.lcars-bar.lcars-square > div {
    background-color: var(--fill);
    --a: 90deg;
    background: 
        linear-gradient(var(--a), 
            transparent 0%, 
            transparent 10%,
            var(--fill) 10%, 
            var(--fill) 90%,
            transparent 90%,
            transparent 100%
        );
    background-size: var(--step) 100%;
}
.lcars-bar.lcars-square.v > div {
    --a: 180deg;
    background-size: 100% var(--step);
}

.lcars-bar > div:first-child {
    --fill: var(--color);
    --edge: transparent;
    background-position: bottom left;
}

.lcars-bar > div:last-child {
    --fill: var(--dark);
    --edge: transparent;
    background-position: top right;
}

.lcars-array {
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

/** content positioning */
.h {
    flex-direction: row;
}
.v {
    flex-direction: column;
}
.h.tl,
.v.tl {
    align-items: flex-start;
    justify-content: flex-start;
}
.h.tc {
    align-items: flex-start;
    justify-content: center;
}
.v.tc {
    justify-content: flex-start;
    align-items: center;
}
.h.tr {
    align-items: flex-start;
    justify-content: flex-end;
}
.v.tr {
    justify-content: flex-start;
    align-items: flex-end;
}
.h.cl {
    align-items: center;
    justify-content: flex-start;
}
.v.cl {
    justify-content: center;
    align-items: flex-start;
}
.h.cc,
.v.cc {
    justify-content: center;
    align-items: center;
}
.h.cr {
    align-items: center;
    justify-content: flex-end;
}
.v.cr {
    justify-content: center;
    align-items: flex-end;
}
.h.bl {
    align-items: flex-end;
    justify-content: flex-start;
}
.v.bl {
    justify-content: flex-end;
    align-items: flex-start;
}
.h.bc {
    align-items: flex-end;
    justify-content: center;
}
.v.bc {
    justify-content: flex-end;
    align-items: center;
}
.h.br,
.v.br {
    justify-content: flex-end;
    align-items: flex-end;
}
