.lcars-filler {
    --color: var(--dim);
    font-size: 12px;
    padding: 4px;
    background-color: var(--color);
    color: black;
    /* min-height: 16px; */
    box-shadow: var(--shadow);
    font-family: var(--button-font-family);
    box-sizing: border-box;
}

.lcars-cutout {
    --color: var(--dim);
    font-size: 12px;
    padding: 4px;
    background: var(--bkg);
    color: black;
    /* min-height: 16px; */
    box-shadow: var(--shadow);
    box-sizing: border-box;
}

.lcars-buttonrow {
    display: flex;
    /* align-items: center; */
    gap: 4px;
    min-height: var(--local-height);
    --local-direction: row;
}

.lcars-buttoncol {
    display: flex;
    flex-direction: column;
    gap: 4px;
    --local-direction: column;
}

.lcars-button {
    background-color: var(--button-color, var(--light));
    color: black;
    padding: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 21px;
    text-align: right;
    box-shadow: var(--shadow);
    /* font-weight: bold; */
    font-family: var(--button-font-family);
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: var(--local-height);
}
.lcars-button.rounded {
    border-radius: var(--local-height);
    padding: 8px 16px;
}
/* .lcars-button:hover {
    background-color: var(--bright);
} */
.lcars-button.selected {
    background-color: var(--bright);
}
.lcars-button.outline {
    background: none;
    color: var(--button-color, var(--light, currentColor));
    border: 2px solid var(--button-color, var(--light));
    border-radius: 2px;
}

.lcars-gap {
    font-size: 21px;
    /* min-height: 16px; */
    text-transform: uppercase;
    background: var(--bkg);
    text-align: right;
    align-self: center;
    display: flex;
    flex-direction: var(--local-direction);
}

.lcars-cap {
    width: 16px;
    width: calc(var(--local-height) / 2);
    background-color: var(--button-color, var(--dim));
    box-shadow: var(--shadow);
}
.lcars-cap.wide {
    width: var(--local-height);
}
.lcars-cap:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.lcars-cap:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
