.lcars-frame {
    position: relative;
    --color: var(--medium);
    /* background-color: var(--color); */
    /* min-height: 200px; */
    position: relative;
    display: grid;
    grid-template-columns: 0px 0px auto 0px 0px;
    grid-template-rows: 0px 0px auto 0px 0px;
    /* overflow: hidden; */
    /* box-shadow: var(--shadow); */
}
.lcars-frame::before {
    content: "";
    position: absolute;
    background-color: var(--color);
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* box-shadow: var(--shadow); */
}

.lcars-framecontent {
    background-color: black;
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
    background: var(--bkg);
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    box-shadow: var(--inset-shadow);
    z-index: 2;
}


/** outer corners */
.lcars-frame.left.top::before {
    border-top-left-radius: var(--ro);
}
.lcars-frame.right.top::before {
    border-top-right-radius: var(--ro);
}
.lcars-frame.left.bottom::before {
    border-bottom-left-radius: var(--ro);
}
.lcars-frame.right.bottom::before {
    border-bottom-right-radius: var(--ro);
}

/** inner corners */
.lcars-frame.left.top > .lcars-framecontent {
    border-top-left-radius: var(--ri);
}
.lcars-frame.right.top > .lcars-framecontent {
    border-top-right-radius: var(--ri);
}
.lcars-frame.left.bottom > .lcars-framecontent {
    border-bottom-left-radius: var(--ri);
}
.lcars-frame.right.bottom > .lcars-framecontent {
    border-bottom-right-radius: var(--ri);
}

/** grid template setup */
.lcars-frame.left {
    grid-template-columns: var(--bl) var(--ri) auto 0px 0px;
}
.lcars-frame.right {
    grid-template-columns: 0px 0px auto var(--ri) var(--br);
}
.lcars-frame.left.right {
    grid-template-columns: var(--bl) var(--ri) auto var(--ri) var(--br);
}
.lcars-frame.top {
    grid-template-rows: var(--bt) var(--ri) auto 0px 0px;
}
.lcars-frame.bottom {
    grid-template-rows: 0px 0px auto var(--ri) var(--bb);
}
.lcars-frame.top.bottom {
    grid-template-rows: var(--bt) var(--ri) auto var(--ri) var(--bb);
}

/** content padding */
.lcars-frame.left > .lcars-framecontent {
    padding-left: var(--content-padding);
}
.lcars-frame.right > .lcars-framecontent {
    padding-right: var(--content-padding);
}
.lcars-frame.top > .lcars-framecontent {
    padding-top: var(--content-padding);
}
.lcars-frame.bottom > .lcars-framecontent {
    padding-bottom: var(--content-padding);
}

/** frame side elements */
.lcars-frametop {
    background: var(--bkg);
    font-size: 21px;
    line-height: 16px;
    text-transform: uppercase;
    grid-column: 3;
    grid-row: 1;
    --local-height: var(--bt);
    z-index: 3;
    margin-left: var(--start-space);
    margin-right: var(--end-space);
}
.lcars-framebottom {
    background: var(--bkg);
    font-size: 21px;
    line-height: 16px;
    text-transform: uppercase;
    grid-column: 3;
    grid-row: 5;
    --local-height: var(--bb);
    z-index: 3;
    margin-left: var(--start-space);
    margin-right: var(--end-space);
}
.lcars-frameleft {
    background: var(--bkg);
    font-size: 21px;
    line-height: 16px;
    gap: 4px;
    grid-column: 1;
    grid-row: 3;
    --local-width: var(--bl);
    z-index: 3;
    margin-top: var(--start-space);
    margin-bottom: var(--end-space);
}
.lcars-frameright {
    background: var(--bkg);
    font-size: 21px;
    line-height: 16px;
    gap: 4px;
    grid-column: 5;
    grid-row: 3;
    --local-width: var(--br);
    z-index: 3;
    margin-top: var(--start-space);
    margin-bottom: var(--end-space);
}

/** frame corners */
.lcars-frametopleft {
    background: var(--color);
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    border-top-left-radius: var(--ro);
    --local-width: var(--bl);
    --local-height: var(--bb);
    z-index: 2;
    cursor: pointer;
}
.lcars-frametopright {
    background: var(--color);
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    border-top-right-radius: var(--ro);
    --local-width: var(--br);
    --local-height: var(--bb);
    z-index: 2;
}
.lcars-framebottomleft {
    background: var(--color);
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
    border-bottom-left-radius: var(--ro);
    --local-width: var(--bl);
    --local-height: var(--bb);
    z-index: 2;
}
.lcars-framebottomright {
    background: var(--color);
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
    border-bottom-right-radius: var(--ro);
    --local-width: var(--br);
    --local-height: var(--bb);
    z-index: 2;
}
.lcars-frameart {
    grid-column: 1 / span 5;
    grid-row: 1 / span 5;
    position: relative;
}
.lcars-frame.left > .lcars-frametop,
.lcars-frame.left > .lcars-framebottom {
    padding-left: 4px;
}
.lcars-frame.right > .lcars-frametop,
.lcars-frame.right > .lcars-framebottom {
    padding-right: 4px;
}
.lcars-frame.top > .lcars-frameleft,
.lcars-frame.top > .lcars-frameright {
    padding-top: 4px;
}
.lcars-frame.bottom > .lcars-frameleft,
.lcars-frame.bottom > .lcars-frameright {
    padding-bottom: 4px;
}
