/** frame corners */
.lcars-frametopleft {
    background: var(--color);
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    border-top-left-radius: var(--ro);
    --local-width: var(--bl);
    --local-height: var(--bb);
    z-index: 2;
    cursor: pointer;
}
.lcars-frametopright {
    background: var(--color);
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    border-top-right-radius: var(--ro);
    --local-width: var(--br);
    --local-height: var(--bb);
    z-index: 2;
}
.lcars-framebottomleft {
    background: var(--color);
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
    border-bottom-left-radius: var(--ro);
    --local-width: var(--bl);
    --local-height: var(--bb);
    z-index: 2;
}
.lcars-framebottomright {
    background: var(--color);
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
    border-bottom-right-radius: var(--ro);
    --local-width: var(--br);
    --local-height: var(--bb);
    z-index: 2;
}
.lcars-frameart {
    grid-column: 1 / span 5;
    grid-row: 1 / span 5;
    position: relative;
}

.lcars-composite {
    --bm: 8px;
    --di: calc(2 * var(--ri));
    --color: var(--medium);
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    justify-self: flex-start;
    place-items: stretch;
    place-content: start;
    overflow: hidden;
    flex-shrink: 0;
}
.lcars-joint {
    background-color: var(--color);
    --mask-image: radial-gradient(circle, transparent 0%, transparent calc(var(--ri) - 1px), white var(--ri), white 100%);
    --nri: calc(-1 * var(--ri));
    display: flex;
    align-items: center;
    justify-content: center;
}
/** top row */
/** top left corner joint */
.lcars-ss {
    border-top-left-radius: var(--ro);
    mask: var(--mask-image) 0% 0%/200% 200% no-repeat;
    margin-right: var(--nri);
    margin-bottom: var(--nri);
}
/** top middle t joint */
.lcars-sm {
    mask: 
        var(--mask-image) 100% 0%/200% 200% no-repeat,
        var(--mask-image) 0% 0%/200% 200% no-repeat
    ;
    mask-composite: intersect;
    margin-right: var(--nri);
    margin-bottom: var(--nri);
    margin-left: var(--nri);
}
/** top right corner joint */
.lcars-se {
    border-top-right-radius: var(--ro);
    mask: var(--mask-image) 100% 0%/200% 200% no-repeat;
    margin-bottom: var(--nri);
    margin-left: var(--nri);
}
/** middle row */
/** middle left t joint */
.lcars-ms {
    mask: 
        var(--mask-image) 0% 100%/200% 200% no-repeat,
        var(--mask-image) 0% 0%/200% 200% no-repeat
        ;
    mask-composite: intersect;
    margin-bottom: var(--nri);
    margin-top: var(--nri);
    margin-right: var(--nri);
    }
/** middle middle star joint */
.lcars-mm {
    mask: 
        var(--mask-image) 100% 0%/200% 200% no-repeat,
        var(--mask-image) 100% 100%/200% 200% no-repeat,
        var(--mask-image) 0% 100%/200% 200% no-repeat,
        var(--mask-image) 0% 0%/200% 200% no-repeat
    ;
    mask-composite: intersect;
    margin-bottom: var(--nri);
    margin-top: var(--nri);
    margin-left: var(--nri);
    margin-right: var(--nri);
}
/** middle right t joint */
.lcars-me {
    mask: 
        var(--mask-image) 100% 0%/200% 200% no-repeat,
        var(--mask-image) 100% 100%/200% 200% no-repeat
    ;
    mask-composite: intersect;
    margin-bottom: var(--nri);
    margin-top: var(--nri);
    margin-left: var(--nri);
}
/** bottom row */
/** bottom left corner joint */
.lcars-es {
    border-bottom-left-radius: var(--ro);
    mask: var(--mask-image) 0% 100%/200% 200% no-repeat;
    margin-top: var(--nri);
    margin-right: var(--nri);
}
/** bottom middle t joint */
.lcars-em {
    mask: 
        var(--mask-image) 100% 100%/200% 200% no-repeat,
        var(--mask-image) 0% 100%/200% 200% no-repeat
    ;
    mask-composite: intersect;
    margin-top: var(--nri);
    margin-left: var(--nri);
    margin-right: var(--nri);
}
/** bottom right corner joint */
.lcars-ee {
    border-bottom-right-radius: var(--ro);
    mask: var(--mask-image) 100% 100%/200% 200% no-repeat;
    margin-top: var(--nri);
    margin-left: var(--nri);
}

/** sides **/
.lcars-is,
.lcars-im {
    margin-left: var(--ri);
}
.lcars-im,
.lcars-ie {
    margin-right: var(--ri);
}
.lcars-si,
.lcars-mi {
    margin-top: var(--ri);
}
.lcars-mi,
.lcars-ei {
    margin-bottom: var(--ri);
}


/** cells */
.lcars-cell {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}

.lcars-cc {
    /* display: block; */
    overflow: auto;
}

.lcars-si.lcars-cell {
    background: var(--bkg);
    padding-top: 4px;
    gap: 4px;
}
.lcars-mi.lcars-cell {
    background: var(--bkg);
    padding: 4px 0px;
    gap: 4px;
}
.lcars-ei.lcars-cell {
    background: var(--bkg);
    padding-bottom: 4px;
    gap: 4px;
}

.lcars-is.lcars-cell {
    flex-direction: row;
    background: var(--bkg);
    padding-left: 4px;
    gap: 4px;
}
.lcars-im.lcars-cell {
    background: var(--bkg);
    padding: 0px 4px;
    gap: 4px;
}
.lcars-ie.lcars-cell {
    flex-direction: row;
    background: var(--bkg);
    padding-right: 4px;
    gap: 4px;
}
