.lcars-reset, 
:root {
    --ro: 32px;
    --ri: 16px;
    --bl: 80px;
    --br: 80px;
    --bt: 16px;
    --bb: 16px;
    --content-padding: 4px;
    /* --shadow: 1px 3px 5px rgba(0, 0, 0, 0.5); */
    --inset-shadow: inset var(--shadow);
    --boot-time: 0.5s;
    --boot-wait: 0s;
    --local-height: 32px;
    --local-width: 32px;
    --button-font-family: 'Swiss 911 Ultra Compressed BT';
    --font-scale-adjust: 1.38;
    --font-v-adjust: 0.04em;
}

.lcars-reset {
    display: contents;
}

body {
    background: var(--bkg);
    color: var(--text-color);
}

.flex {
    flex: 1 0 0%;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
::-webkit-scrollbar-thumb { /* Foreground */
    background: var(--scroll-thumb, var(--medium));
}
::-webkit-scrollbar-track { /* Background */
    background: var(--scroll-track, black);
}

::-webkit-scrollbar-button:single-button {
    height: 16px;
    background: var(--scroll-button, var(--light));
}
::-webkit-scrollbar-button:vertical:single-button:vertical:decrement {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid var(--scroll-track, black);
}
::-webkit-scrollbar-button:vertical:single-button:vertical:increment {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 2px solid var(--scroll-track, black);
}
