:root {
    --bkg: var(--lcars-black);
    /* --bkg: black; */
}

.lcars-reset, 
:root {
    --text-color: white;
    --text-on-color: black;

    --lcars-gray: #234;
    --lcars-white: #fff;
    --lcars-black: #000;
    --lcars-pale-canary: #ff9;
    --lcars-golden-tanoi: #fc6;
    --lcars-neon-carrot: #f93;
    --lcars-eggplant: #646;
    --lcars-lilac: #c9c;
    --lcars-anakiwa: #9cf;
    --lcars-mariner: #36c;
    --lcars-bahama-blue: #069;
    --lcars-red-alert: #e10;
    --lcars-dim-alert: #e10c;
    --lcars-blue-bell: #99c;
    --lcars-melrose: #99f;
    --lcars-hopbush: #c69;
    --lcars-chestnut-rose: #c66;
    --lcars-orange-peel: #f96;
    --lcars-atomic-tangerine: #f90;
    --lcars-danub: #68c;
    --lcars-indigo: #45b;
    --lcars-lavender-purple: #97a;
    --lcars-cosmic: #746;
    --lcars-red-damask: #d64;
    --lcars-medium-carmine: #a53;
    --lcars-bourbon: #b62;
    --lcars-sandy-brown: #e95;
    --lcars-periwinkle: #cdf;
    --lcars-dodger-blue: #59f;
    --lcars-dodger-blue-alt: #36f;
    --lcars-blue: #01e;
    --lcars-navy-blue: #008;
    --lcars-husk: #ba5;
    --lcars-rust: #b41;
    --lcars-tamarillo: #821;
    
    /** default colors a mix */
    --signal: #E9452A;
    --signal2: #FF846D;
    --bright: var(--lcars-pale-canary);
    --text-on-bright: var(--lcars-black);
    --light: var(--lcars-golden-tanoi);
    --text-on-light: var(--lcars-black);
    --medium: var(--lcars-neon-carrot);
    --text-on-medium: var(--lcars-black);
    --dim: var(--lcars-red-damask);
    --text-on-dim: var(--lcars-black);
    --dark: var(--lcars-rust);
    --text-on-dark: var(--lcars-white);

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}

.lcars-tng {
    --signal: var(--lcars-golden-tanoi);
    --signal2: var(--lcars-pale-canary);
    --bright: var(--lcars-neon-carrot);
    --light: var(--lcars-danub);
    --medium: var(--lcars-red-damask);
    --dim: var(--lcars-chestnut-rose);
    --dark: var(--lcars-medium-carmine);

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}

.lcars-voy,
.lcars-blue {
    --bright: var(--lcars-periwinkle);
    --light: var(--lcars-dodger-blue);
    --medium: var(--lcars-dodger-blue-alt);
    --dim: var(--lcars-blue);
    --dark: var(--lcars-navy-blue);

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}

.lcars-yellow {
    --bright: var(--lcars-pale-canary);
    --light: var(--lcars-golden-tanoi);
    --medium: var(--lcars-neon-carrot);
    --dim: var(--lcars-red-damask);
    --dark: var(--lcars-rust);

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}

.lcars-lavender {
    --bright: var(--lcars-lilac);
    --light: var(--lcars-lavender-purple);
    --medium: var(--lcars-hopbush);
    --dim: var(--lcars-cosmic);
    --dark: var(--lcars-eggplant);

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}

.lcars-alert {
    --bright: var(--lcars-white);
    --light: var(--lcars-red-alert);
    --medium: var(--lcars-red-alert);
    --dim: var(--lcars-dim-alert);
    --dark: var(--lcars-dim-alert);

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}
@keyframes alert_strobe {
    0% {
        opacity: 0.5;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
.lcars-alert-strobe {
    animation: 2s alert_strobe infinite;
    --bright: var(--lcars-white);
    --light: var(--lcars-red-alert);
    --medium: var(--lcars-red-alert);
    --dim: var(--lcars-dim-alert);
    --dark: var(--lcars-dim-alert);

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}

.lcars-disabled {
    --bright: var(--lcars-gray) !important;
    --light: var(--lcars-gray) !important;
    --medium: var(--lcars-gray) !important;
    --dim: var(--lcars-gray) !important;
    --dark: var(--lcars-gray) !important;

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}
.lcars-pic,
.lcars-picard {
    --bright: #FF9900;
    --light: #90BFBD;
    --medium: #46AAB3;
    /* --medium: #2B698F; */
    /* --medium:#0C3752; */
    /* --dim: #0C3752; */
    /* --dim: #46AAB3; */
    --dim: #2B698F;
    --dark:#0C3752;
    /* --bkg: #061321; */

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}

.lcars-gray {
    /* colors copied from screenshots */
    --bright: #E9452A;
    --light: #57B6E5;
    --medium: #919DBB;
    --dim:#71748D;
    --dark: #31384A;

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}

.lcars-gray {
    /* colors adjusted for waveshare screen */
    --signal: #E9452A;
    --signal2: #FF846D;
    --bright: #E9452A;
    --light: #57B6E5;
    --medium: #919194;
    --dim:#717174;
    --dark: #313138;

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}

.lcars-gray {
    /* colors adjusted for waveshare screen */
    --signal: #E9452A;
    --signal2: #FF846D;
    --blue: #2E6F90;
    --bright: #E9452A;
    --light: #9FA3B6;
    --medium: #6F738E;
    --dim:#525A6D;
    --dark: #2D3949;

    --scroll-track: black;
    --scroll-button: var(--light);
    --scroll-thumb: var(--medium);
}

